main {
  width: 90%;
}
canvas {
  position: relative;
  height: 60vh;
}
.regions-container {
  max-width: 400px;
  min-width: 340px;
}
.regions {
  display: flex;
  flex-flow: column wrap;
  max-height: 100px;
}

.pokemon-table {
  max-width: 400px;
}

.pokemon-table-img {
  width: 70px;
  height: auto;
}

.shape-outline {
  max-width: 800px;
}
